<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718372340308-6rj8jbc2hlqk4drjso798pre8255psdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718372340308-6rj8jbc2hlqk4drjso798pre8255psdh</string>
	<key>API_KEY</key>
	<string>AIzaSyCEaShVShzbP9i3gB2DUzY4yK_JXjiqU4s</string>
	<key>GCM_SENDER_ID</key>
	<string>718372340308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurant</string>
	<key>PROJECT_ID</key>
	<string>restaurant-ec689</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-ec689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718372340308:ios:f7f0ae7ecdfb325e3463c1</string>
	<key>DATABASE_URL</key>
	<string>https://restaurant-ec689.firebaseio.com</string>
</dict>
</plist>